{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "16.17.0"
        }
      }
    ],
    "@babel/preset-typescript",
    "minify"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@tests": "./tests",
          "@config": "./src/infra/config",
          "@entities": "./src/domain/entities",
          "@persistence": "./src/infra/persistence",
          "@use_cases": "./src/domain/use_cases"
        }
      }
    ]
  ],
  "ignore": ["./tests", "./src/public"]
}
